.footer {
    background-color: $color-terciary;
    font-family: $font-main;
    color: $color-quarter;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding-top: 70px;
    padding-bottom: 70px;

    &_copy {
        order: 3;
        font-size: 1.4rem;
        &-love {
            padding: 20px;
        }
    }
}

.menu {
    font-size: 1.6rem;
    line-height: 1.88;
    & a {
        text-decoration: none;
        color: $color-quarter;
    }
}