.header_container {
    position: fixed;
    top: 0;
    width: 40px;
    background-color: $color-primary;
    padding: 10px;
    border: none;

    &-img{
     width: 14px;
    }
}


.hero {
    background-image: url("../images/cover.jpeg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 85%;
    background-size: cover;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 70px;

    @media (min-width: 768px) {
        background-position: 75%;
        padding-bottom: 30px;
        padding-left: 150px;
        padding-right: 150px;
    }
    @media (min-width: 1280px) {
        background-position: center;
        background-size: content;
    }
    &_article {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        gap: 20px;

        &-title {
            font-family: $font-secondary;
            color: $color-quarter;
            font-size: 3rem;
            line-height: 1.67;
            font-weight: bold;
            @media (min-width: 768px) {
                font-size: 7.5rem;
                line-height: 1.33;
            }
            @media (min-width: 1280px) {
                padding-left: 140px;
                padding-right: 140px;
            }
        }

        &-p {
           font-family: $font-main; 
           color: $color-quarter;
           font-size: 1.6rem;
           line-height: 1.19;
           @media (min-width: 768px) {
            font-size: 2.4rem;
            line-height: 1.17;
            padding-left: 98px;
            padding-right: 98px;
            }
        }

        &-img {
            width: 55px;
            height: 55px;
            background-color: $color-quarter;
            border-radius: 50%;
            border: 15px solid $color-quarter;
        }
    }
}