.store {
    background-color: $color-quaternary;
    padding-top: 45px;
    padding-left: 18px;
    padding-right: 25px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    text-align: start;
    @media (min-width: 768px){
        padding-left: 90px;
        padding-right: 90px;
        padding-bottom: 70px;
    }
    @media (min-width: 1280px) {
        padding-left: 150px;
        padding-right: 250px;
    }

    &_title {
        font-family: $font-main;
        font-size: 1.4rem;
        line-height: 2.14;
        color: $color-primary;
        @media (min-width: 768px) {
            font-size: 1.6rem;
            line-height: 1.88;
        }
    }

    &_button {
        background-color: $color-quaternary;
        border: 3px solid $color-primary;
        border-radius: 50px;
        width: 185px;
        color: $color-primary;
        font-size: 2rem;
        font-weight: 500;
        padding-top: 10px;
        padding-bottom: 10px;

        &:hover {
            transform: scale(1.5);
            transition-delay: 30ms;
            background-color: $color-secondary;
        }
    }
}

.store_article {
    padding-bottom: 60px;

    &-title{
        color: $color-quinary;
        font-family: $font-secondary;
        font-size: 2.2rem;
        font-weight: bold;
        line-height: 1.36;
        @media (min-width: 768px) {
            font-size: 3.2rem;
            line-height: 1.41;
        }
    }
    
    &-p {
        color: $color-terciary;
        font-family: $color-primary;
        font-size: 1.8rem;
        line-height: 1.67;
        @media (min-width:768px) {
            font-size: 2rem;
            line-height: 1.5;
        }
    }
}