<section class="school">

    <h3 class="school_slogan">¡Prepáralos con tus marcas favoritas!</h3>

    <h2 class="school_title">VUELTA AL COLE</h2>

    <div class="school_articles">
        <load src="/partials/article.html" imgurl="/images/lpbts-mod05-img01-desk.png" imgDescription="A girl with a backpack" article_title="Mochilas escolares" />
        <load src="/partials/article.html" imgurl="/images/lpbts-mod05-img04-mob.png" imgDescription="A boy playing with pencils" article_title="Estuches" />
        <load src="/partials/article.html" imgurl="/images/lpbts-mod05-img03-mob.png" imgDescription="Another girl with a backpack" article_title="Bolsas de deporte" />
    </div>

    <button class="school_button">Empezar ahora</button>

    <img src="/images/ico-arrow.svg" alt="icon-arrow" class="school_img"/>

</section>