<footer class="footer">

    <section class="footer_copy">
        <p>&copy;2023</p>
        <p class="footer_copy-love">we <i class="fa-solid fa-heart" style="color: #6c933e;"></i> run</p>
    </section>

    <section class="footer_menu">
        <ul>
            <li><a href="https://adalab.es" target="_blank" class="footer_menu-link">ZAPATILLAS</a></li>
            <li><a href="https://adalab.es" target="_blank" class="footer_menu-link">ROPA</a></li>
            <li><a href="https://adalab.es" target="_blank" class="footer_menu-link">NIÑO/A</a></li>
            <li><a href="https://adalab.es" target="_blank" class="footer_menu-link">DESTACADOS</a></li>
            <li><a href="https://adalab.es" target="_blank" class="footer_menu-link">TIPS</a></li>
        </ul>
    </section>

    <section class="footer_menu">
        <ul>
            <li><a href="https://adalab.es" target="_blank" class="footer_menu-link">TWITTER</a></li>
            <li><a href="https://adalab.es" target="_blank" class="footer_menu-link">INSTAGRAM</a></li>
            <li><a href="https://adalab.es" target="_blank" class="footer_menu-link">YOUTUBE</a></li>
        </ul>
    </section>
    
</footer>