<header class="header">
    
    <button class="header_container"><a href="https://adalab.es" target="_blank"><img src="/images/ico-menu.svg" alt="icon-menu" class="header_container-img"/></a></button>

    <section class="hero">
        <article class="hero_article">
            <h1 class="hero_article-title">COMIENZOS COMPARTIDOS</h1>
            <p class="hero_article-p">Todo lo que necesitan para volver al cole con ilusión</p>
            <img src="/images/ico-scroll-down.svg" alt="icon-scroll-down" class="hero_article-img"/>
        </article>
    </section>

</header>